.gameover-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("/src/assets/img/ending/backgrounds/game_over_all_dead.png");
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 30%;
}

.gameover-title {
	text-align: center;
	font-family: var(--title-font);
	color: var(--primary-color);
	font-size: 200px;
	margin: 0;
	font-weight: 300;
	padding-top: 80px;
}

.gameover-score {
	max-width: 30%;
	color: var(--light-color);
	font-family: var(--title-font);
	font-size: 80px;
	text-align: center;
	margin: 0;
}

.gameover-button {
	background-color: var(--primary-color);
	font-family: var(--text-font);
	font-size: 32px;
	color: var(--light-color);
	width: 175px;
	height: 70px;
	border: none;
	border-radius: 45px;
	z-index: 2;
	cursor: pointer;
	margin-top: 50px;
}

.victory-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 3;
	position: absolute;
	background-image: url("/src/assets/img/ending/backgrounds/drive_end.png");
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 30%;
}

.victory-title {
	font-family: var(--title-font);
	color: var(--light-color);
	font-size: 125px;
	font-weight: 300;
	margin: 0;
	padding-top: 50px;
}

.victory-narration {
	min-width: 60%;
	max-width: 55%;
	background-color: var(--box-color);
	color: var(--light-color);
	font-family: var(--text-font);
	font-size: 25px;
	line-height: 1.5;
	opacity: 90%;
	border: 5px solid var(--light-color);
	border-radius: 45px;
	padding: 35px;
	text-align: justify;
}

.victory-button {
	background-color: var(--primary-color);
	font-family: var(--text-font);
	font-size: 32px;
	color: var(--light-color);
	width: 175px;
	height: 70px;
	border: none;
	border-radius: 45px;
	margin-left: 1000px;
	margin-top: -55px;
	z-index: 2;
	cursor: pointer;
}

.victory-input {
	border-radius: 25px;
	border: 2px solid var(--box-color);
	display: flex;
	flex-direction: column;
	margin-top: 250px;
	width: 35vw;
	font-family: var(--text-font);
	font-size: 25px;
	color: var(--box-color);
	padding-left: 25px;
	background-color: rgba(220, 209, 209, 0.857);
}

.victory-input-button {
	justify-content: center;
	background-color: var(--primary-color);
	font-family: var(--text-font);
	font-size: 32px;
	color: var(--light-color);
	width: 175px;
	height: 70px;
	border: none;
	border-radius: 45px;
	cursor: pointer;
	margin-top: 50px;
}

.victory-scoreboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 40%;
	max-width: 40%;
	background-color: var(--box-color);
	color: var(--light-color);
	font-family: var(--text-font);
	font-size: 25px;
	opacity: 90%;
	border: 5px solid var(--box-color);
	border-radius: 45px;
	padding: 35px;
	text-align: justify;
	margin-top: 20px;
}
.victory-title-scoreboard {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	background-color: #564b4b;
	color: var(--light-color);
	font-family: var(--text-font);
	border: 1px solid black;
	font-size: 25px;
	border-radius: 25px;
	padding: 15px 70px 10px;
	text-align: justify;
}
.victory-scoreboard-box {
	margin: 10px 10px 50px;
	background-color: #564b4b;
	color: var(--light-color);
	font-family: var(--text-font);
	border: 1px solid black;
	font-size: 25px;
	border-radius: 65px;
	padding: 10px 70px 10px;
	text-align: justify;
}
.victory-names-scores {
	display: flex;
	justify-content: space-between;
	gap: 80px;
	background-color: var(--box-color);
	color: var(--light-color);
	font-family: var(--text-font);
	font-size: 25px;
	border-radius: 45px;
	padding: 10px;
	padding-left: 15px;
	text-align: justify;
	margin: 25px;
}

.victory-retry {
	background-color: var(--primary-color);
	font-family: var(--text-font);
	font-size: 32px;
	color: var(--light-color);
	width: 175px;
	height: 70px;
	border: none;
	border-radius: 45px;
	cursor: pointer;
}
