.background-room {
	width: 100vw;
	height: 100vh;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center 30%;

	&.Hall {
		background-image: url("../assets/img/narration/rooms_backgrounds/hall.png");
	}
	&.Kitchen {
		background-image: url("../assets/img/narration/rooms_backgrounds/kitchen.png");
	}
	&.Library {
		background-image: url("../assets/img/narration/rooms_backgrounds/library.png");
	}
	&.Ball {
		background-image: url("../assets/img/narration/rooms_backgrounds/ball_room.png");
	}
	&.Cellar {
		background-image: url("../assets/img/narration/rooms_backgrounds/cellar.png");
	}
	&.Pantry {
		background-image: url("../assets/img/narration/rooms_backgrounds/pantry.png");
	}
	&.Storage {
		background-image: url("../assets/img/narration/rooms_backgrounds/storage_room.png");
	}
	&.Morgue {
		background-image: url("../assets/img/narration/rooms_backgrounds/the_morgue.png");
	}
	&.Labo {
		background-image: url("../assets/img/narration/rooms_backgrounds/entrancelab.png");
	}
	&.Office {
		background-image: url("../assets/img/narration/rooms_backgrounds/office_laboratory.png");
	}
	&.Surgery {
		background-image: url("../assets/img/narration/rooms_backgrounds/surgery_laboratory.png");
	}
	&.Cuve {
		background-image: url("../assets/img/narration/rooms_backgrounds/cuve_laboratory.png");
	}
}

.navbar {
	padding-top: 35px;
	padding-left: 35px;
	padding-right: 35px;
}

.game-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.box-characters {
	margin-top: 20.1rem;
}

.character {
	height: 26rem;
}

.narration-phase,
.narration-question {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 3;
	position: absolute;
}

.box-narration {
	min-width: 50%;
	max-width: 55%;
	background-color: var(--box-color);
	color: var(--light-color);
	font-family: var(--text-font);
	font-size: 20px;
	line-height: 1.5;
	opacity: 90%;
	border: 5px solid var(--light-color);
	border-radius: 45px;
	padding: 35px;
	text-align: justify;
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;

	&.joker {
		text-align: center;
	}
}

.jokers-box {
	display: flex;
	gap: 5rem;
	margin-top: 1rem;
}

.button-joker {
	background: none;
	border: none;
	transform: scale(1.1);
	transition: transform .2s ease;
}

.image-joker {
	width: 5rem;
	height: auto;
	background: none;
	border: none;
	transform: scale(1.1);
	transition: transform .2s ease;
}

.button-next {
	background-color: var(--primary-color);
	font-family: var(--text-font);
	font-size: 32px;
	color: var(--light-color);
	width: 175px;
	height: 70px;
	border: none;
	border-radius: 45px;
	margin-left: 1000px;
	margin-top: -55px;
	z-index: 2;
	cursor: pointer;
}

.button-next-room {
	background-color: var(--primary-color);
	font-family: var(--text-font);
	font-size: 30px;
	color: var(--light-color);
	width: 250px;
	height: 70px;
	border: none;
	border-radius: 45px;
	margin-left: 1000px;
	margin-top: -55px;
	z-index: 2;
	cursor: pointer;
}

.box-question {
	min-width: 50%;
	background-color: var(--box-color);
	color: var(--light-color);
	font-family: var(--title-font);
	font-size: 50px;
	font-weight: 300;
	line-height: 1.5;
	opacity: 90%;
	border: 5px solid var(--light-color);
	border-radius: 45px;
	padding: 30px;
	text-align: center;
	margin-top: 80px;
	z-index: 2;
}

.box-answers {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3rem 6rem;
	margin-top: 50px;
	z-index: 2;
}

.button-answers {
	background-color: var(--box-color);
	color: var(--light-color);
	font-family: var(--title-font);
	font-size: 50px;
	font-weight: 300;
	opacity: 90%;
	border: 5px solid var(--light-color);
	border-radius: 45px;
	text-align: center;
	padding: 2rem 10rem;
	z-index: 2;
}

.answer-default:hover {
	background-color: var(--light-color);
	color: var(--box-color);
	cursor: pointer;
}

.correct-answer {
	background: linear-gradient(to right, #173b1b, #3fa149);
}

.wrong-answer {
	background: linear-gradient(to right, #c11402, #4f2807);
}
