html,
main {
	height: 100%;
	overflow: hidden;
}

.background-room {
	width: 100vw;
	height: 100vh;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center 30%;

	&.Hall {
		background-image: url("../assets/img/narration/rooms_backgrounds/hall.png");
	}
	&.Kitchen {
		background-image: url("../assets/img/narration/rooms_backgrounds/kitchen.png");
	}
	&.Library {
		background-image: url("../assets/img/narration/rooms_backgrounds/library.png");
	}
	&.Ball {
		background-image: url("../assets/img/narration/rooms_backgrounds/ball_room.png");
	}
	&.Cellar {
		background-image: url("../assets/img/narration/rooms_backgrounds/cellar.png");
	}
	&.Pantry {
		background-image: url("../assets/img/narration/rooms_backgrounds/pantry.png");
	}
	&.Storage {
		background-image: url("../assets/img/narration/rooms_backgrounds/storage_room.png");
	}
	&.Morgue {
		background-image: url("../assets/img/narration/rooms_backgrounds/the_morgue.png");
	}
	&.Labo {
		background-image: url("../assets/img/narration/rooms_backgrounds/entrancelab.png");
	}
	&.Office {
		background-image: url("../assets/img/narration/rooms_backgrounds/office_laboratory.png");
	}
	&.Surgery {
		background-image: url("../assets/img/narration/rooms_backgrounds/surgery_laboratory.png");
	}
	&.Cuve {
		background-image: url("../assets/img/narration/rooms_backgrounds/cuve_laboratory.png");
	}
}

.navbar {
	padding-top: 35px;
	padding-left: 35px;
	padding-right: 35px;
}

.game-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.box-characters {
	margin-top: 20.1rem;
}

.character {
	height: 26rem;
}

.narration-phase,
.narration-question {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 3;
	position: absolute;
}

.box-narration {
	min-width: 50%;
	max-width: 75%;
	background-color: var(--box-color);
	color: var(--light-color);
	font-family: var(--text-font);
	font-size: 20px;
	line-height: 1.5;
	opacity: 90%;
	border: 5px solid var(--light-color);
	border-radius: 45px;
	padding: 35px;
	text-align: justify;
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;

	&.joker {
		text-align: center;
	}

	&.box-selected-joker {
		width: 50rem;
		height: 9rem;
	}
}

.selected-joker {
	margin-top: 1rem;
	width: 7rem;
	height: auto;
}

.jokers-box {
	display: flex;
	justify-content: center;
	gap: 5rem;
	margin-top: 1rem;
	margin-left: 2rem;
}

.button-joker {
	background: none;
	border: none;
	cursor: pointer;

	&:hover {
		transform: scale(1.1);
		transition: transform .2s ease;
	}
}

.image-joker {
	width: 6rem;
	height: auto;
	background: none;
	border: none;
}

.infobulle {
	width: 35px;
	height: 35px;
	margin-top: 0px;
	margin-left: -88px;
	border-radius: 50%;
	background-color: black;
	font: var(--text-font);
	color: var(--light-color);
	cursor: pointer;

	&:hover {
		transform: scale(1.2);
		transition: transform .2s ease;
	}
}

.info-text {
	display: none;
	position: absolute;
	margin-top: -35px;
	margin-left: 60px;
	transform: translateX(-50%);
	background: #222;
	color: #fff;
	padding: 6px 10px;
	border-radius: 6px;
	font-size: 20px;
	white-space: nowrap;
	z-index: 20;
}

.info-wrapper:hover .info-text {
	display: block;
}

.box-oui-non {
	display: flex;
	gap: 5rem;
	margin-top: -3.20rem;
}

.yes {
	width: 8.5rem;
	height: 3.25rem;
	z-index: 1;
	border-radius: 3rem;
	border: none;
	font-family: var(--text-font);
	font-size: 1.75rem;
	color: var(--light-color);
	background-color: var(--primary-color);
	cursor: pointer;

	&:hover {
		transform: scale(1.1);
		transition: transform .2s ease;
	}
}

.no {
	width: 8.5rem;
	height: 3.25rem;
	z-index: 1;
	border-radius: 3rem;
	border: none;
	font-family: var(--text-font);
	font-size: 1.75rem;
	color: var(--light-color);
	background-color: var(--primary-color);
	cursor: pointer;

	&:hover {
		transform: scale(1.1);
		transition: transform .2s ease;
	}
}

.button-next {
	background-color: var(--primary-color);
	font-family: var(--text-font);
	font-size: 32px;
	color: var(--light-color);
	width: 175px;
	height: 70px;
	border: none;
	border-radius: 45px;
	margin-left: 1000px;
	margin-top: -55px;
	z-index: 2;
	cursor: pointer;
	box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5)
		-3px -3px 6px 1px inset;

	&:hover {
		transform: scale(1.2);
		transition: transform .2s ease;
	}
}

.button-next-room {
	background-color: var(--primary-color);
	font-family: var(--text-font);
	font-size: 30px;
	color: var(--light-color);
	width: 250px;
	height: 70px;
	border: none;
	border-radius: 45px;
	margin-left: 1000px;
	margin-top: -55px;
	z-index: 2;
	cursor: pointer;
	box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5)
		-3px -3px 6px 1px inset;

	&:hover {
		transform: scale(1.2);
		transition: transform .2s ease;
	}
}

.box-question {
	width: 80rem;
	height: 10rem;
	background-image: url("../assets/img/questions/cadre.png");
	background-color: rgba(0, 0, 0, 0.7);
	background-size: 72rem 23rem;
	background-position: center;
	width: 50rem;
	color: var(--light-color);
	font-family: var(--title-font);
	font-size: 60px;
	font-weight: 300;
	line-height: 1;
	padding: 50px;
	text-align: center;
	margin-top: 50px;
	z-index: 2;
	gap: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.box-answers {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3rem 6rem;
	margin-top: 50px;
	z-index: 2;
	border-radius: 45px;
}

.button-answers {
	background-color: rgba(0, 0, 0, 0.8);
	color: var(--light-color);
	font-family: var(--title-font);
	font-size: 42px;
	font-weight: 300;
	border: 4px solid #55250e;
	border-radius: 45px;
	text-align: center;
	padding: 1.5rem 5rem;
	z-index: 2;
}

.answer-default:hover {
	background-color: var(--light-color);
	background-image: url(https://www.creativefabrica.com/wp-content/uploads/2023/11/04/Blood-splatter-background-Graphics-83214203-1-1-312x208.png);
	background-size: cover;
	background-position: center 15%;
	color: var(--box-color);
	cursor: pointer;
}

.correct-answer {
	background: linear-gradient(to right, #173b1b, #29682f);
}

.wrong-answer {
	background: linear-gradient(to right, #c11402, #4f2807);
}
