@media (max-width: 768px) {
	html,
	main,
	body {
		overflow: hidden;
	}
	img {
		background-size: cover;
		height: max-content;
		display: block;
	}
}

.background-room {
	background-size: cover;
	background-position: center;
	width: 100%;
}

.inside-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 15vh;
	border-radius: 45px;
	background-color: rgba(var(--box-color), 0.9);
}

.characters-container {
	padding-top: 40px;
	padding-left: 0;
}

.container-right {
	margin-top: 0;
}

.score {
	font-family: var(--title-font);
	color: var(--light-color);
	font-size: 1.75rem;
	margin-top: 20px;
}

.navbar-map {
	display: none;
}

.box-success {
	display: none;
}

.game-screen {
	padding: 1rem;
}

.game-screen .box-audio {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	margin-left: 105%;
	margin-top: -85%;
	gap: 70px;
}

.background-room .box-audio .mute-btn {
	width: 1.5rem;
	height: 1.5rem;
	font-size: 1.5rem;
}

.box-characters {
	display: none;
	top: 0;
}

.character-logo-sprite {
	width: auto;
	height: 4vh;
}

.box-question {
	margin-top: 0.5rem;
	max-height: 30vh;
	height: auto;

	.box-question {
		width: 90%;
		font-size: 26px;
		padding: 1rem;

		background-size: auto;
	}

	& > h1 {
		padding-bottom: 0rem;
		font-size: 2rem;
	}
	& > p {
		font-size: 1rem;
	}
	&.timer-container {
		display: flex;
		align-items: center;

		padding-bottom: 0vh;
	}
}

.narration-phase,
.narration-question {
	width: 80%;
	margin-top: 1rem;
}

.timebar {
	display: flex;
	gap: 0.5vw;
	width: 1.5vw;
	height: 1.5vh;
	background-color: green;
	border: 1px solid white;
}

.box-narration {
	margin: 1rem 1.5rem 0 1.5rem;
	max-width: 85vw;
	max-height: 55vh;
	overflow-y: auto;
	border: 1px solid #ccc;
	padding: 1.5rem;
}

.box-narration.box-selected-joker {
	width: 90%;
	height: auto;
}

.selected-joker {
	width: 4rem;
}

.jokers-box {
	gap: 2rem;
	margin-left: 0;
}

.image-joker {
	width: 3.5rem;
}

.infobulle {
	width: 28px;
	height: 28px;
	margin-left: -40px;
}

.info-text {
	font-size: 14px;
	padding: 4px 8px;
}

.box-oui-non {
	gap: 2rem;
	margin-top: 1rem;
}

.yes,
.no {
	width: 6.5rem;
	height: 2.8rem;
	font-size: 1.3rem;
}

.button-next,
.button-next-room {
	margin-left: 0;
	margin-top: 1.5rem;
	width: 130px;
	height: 50px;
	font-size: 20px;
}

.box-answers {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
	padding: 1rem;
}

.button-answers {
	font-size: 20px;
	padding: 1rem 2rem;
	width: 100%;
}
