.box-success {
	width: 90px;
	height: 100px;
	background-color: rgba(var(--box-color));
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5rem;
	align-self: flex-end;
	margin-top: 3rem;
	padding-left: 5px;
	border-radius: 25px 0 0 25px;
	border: 3px solid var(--light-color);
	border-right: none;
	z-index: 9;
	transition: width 0.4s ease, height 0.4s ease;
	position: absolute;

	& > img {
		padding-top: 15px;
	}

	& > .success-list {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 10px;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.4s 0.3s ease, transform 0.4s ease;
	}

	&:hover {
		width: 400px;
		height: 455px;

		& > .success-list {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 10px;
			opacity: 1;
			visibility: visible;

			& > p {
				font-family: var(--text-font);
				color: var(--light-color);
				width: 7.5rem;
				font-size: smaller;
				line-height: 1.1rem;
				padding-left: 5px;
			}

			& > img {
				width: auto;
				height: 4.5rem;
			}
		}

		& > .trophy {
			display: none;
		}
	}
}
